@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 255, 255, 255; */ /* white */
  --foreground-rgb: 254, 252, 251;
  /* --background-rgb: 50, 0, 193; */ /* blurple */
  --background-rgb: 21, 20, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-size: 0.875rem;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
